
<div class="wrapper" (window:keyup)="moveSpacer($event)">
  <div style="position: fixed; top: 0; left: 0; display: flex;">
    <select (ngModelChange)="setDifficulty($event)" [(ngModel)]="difficulty"> 
      <option value="easy">Easy</option>
      <option value="intermediate">Intermediate</option>
      <option value="difficult">Difficult</option>
    </select>
    <select (ngModelChange)="setMode($event)" [(ngModel)]="mode"> 
      <option value="convergence">Convergence</option>
      <option value="divergence">Divergence</option>
    </select>
  </div>
  
  <div class="inner-wrapper">
    <app-fusion-circle [type]="mode === 'convergence' ? 'red' : 'blue'"></app-fusion-circle>
    <div class="spacer" [ngStyle]="{'width': spacer + 'px'}"></div>
    <app-fusion-circle [type]="mode === 'convergence' ? 'blue' : 'red'"></app-fusion-circle>
  </div>
</div>